.project-activities .title h3 {
  display: inline-block;
  width: 20%;
}
.project-activities .sub-title {
  font-size: 13px;
  color: #7d979b !important;
}

.project-activities .project-activities__edit {
  display: inline-block;
  width: 20%;
}

.project-activities .project-activities__image {
  width: 30%;
}
.project-activities .project-activities__image img {
  width: 100%;
  border-radius: 10px;
}
